/* SECTION01 */

/* .portfolio_section01 {
    background-image: url(/image/residential/2-10@3x.png);
    width: 100%;
    height: 455px;
    background-size: cover;
    background-repeat: no-repeat;
} */
.portfolio_banner{
    width: 100%;
    max-height: 550PX;
}
.portfolio_banner img{
    width: 100%;
    max-height: 550PX;
}
/* SECTION02 */

.portfolio_section02 {
    position: absolute;
    width: 100%;
    margin-top: -100px;
    padding: 72px 0;
    /* background-color: red; */
    /* background-image: linear-gradient(to top, rgb(0, 0, 0,1), rgba(255, 255, 255, 0)); */
    background-image: linear-gradient(to top, rgba(26, 28, 25, 1) 79%, rgba(255, 255, 255, 0.0001));
}

.portfolio_section02 .portfolioimgs {
    width: 50%;
    margin: auto;
}

.portfolio_section02 .portfolioimgs div {
    width: 269px;
    height: 150px;
    margin: 0 20px;
    color: white;
    /* padding: 40px 65px; */
}

.portfolioimg01 {
    background-image: url(./image/commercial/img01.png);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: grayscale(100%);
    /* Chrome, Safari, Opera */
    filter: grayscale(70%);
}

.portfolioimg02 {
    background-image: url(./image/luxury/img02.png);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: grayscale(100%);
    /* Chrome, Safari, Opera */
    filter: grayscale(80%);
}

.portfolioimg03 {
    background-image: url(./image/luxury/maarten-deckers-T5nXYXCf50I-unsplash@3x.png);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: grayscale(100%);
    /* Chrome, Safari, Opera */
    filter: grayscale(80%);
}

.portfolioimg01:hover, .portfolioimg02:hover, .portfolioimg03:hover {
    filter: grayscale(0%);
    cursor: pointer;
}

/* SECTION03 */

.portfolio_section03 {
    background-color: #1a1c19;
    color: white;
}

.portfolio_section03_title {
    width: 100%;
    height: 15vh;
    color: #fff;
    text-align: center;
    line-height: 100px;
    letter-spacing: 3.24px;
}

.luxuryimgone_text {
    position: absolute;
    top: 50%;
    right: 30%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateX(-30%);
    -moz-transform: translateX(-30%);
    -ms-transform: translateX(-30%);
    -o-transform: translateX(-30%);
}

.luxuryimgtwo_text {
    position: absolute;
    top: 50%;
    right: 30%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateX(-30%);
    -moz-transform: translateX(-30%);
    -ms-transform: translateX(-30%);
    -o-transform: translateX(-30%);
}

.luxuryimgthree_text {
    position: absolute;
    top: 50%;
    right: 38%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateX(-38%);
    -moz-transform: translateX(-38%);
    -ms-transform: translateX(-38%);
    -o-transform: translateX(-38%);
}

.luxuryimgfour_text {
    position: absolute;
    top: 50%;
    right: 30%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateX(-30%);
    -moz-transform: translateX(-30%);
    -ms-transform: translateX(-30%);
    -o-transform: translateX(-30%);
}

.luxuryimgfive_text {
    position: absolute;
    top: 50%;
    right: 30%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateX(-30%);
    -moz-transform: translateX(-30%);
    -ms-transform: translateX(-30%);
    -o-transform: translateX(-30%);
}

.luxuryimgsix_text {
    position: absolute;
    top: 50%;
    right: 45%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateX(-45%);
    -moz-transform: translateX(-45%);
    -ms-transform: translateX(-45%);
    -o-transform: translateX(-45%);
}

.luxuryimgone:hover, .luxuryimgtwo:hover, .luxuryimgthree:hover, .luxuryimgfour:hover, .luxuryimgfive:hover, .luxuryimgsix:hover {
    filter: grayscale(0%);
    cursor: pointer;
}

.luxuryimgone {
    background-image: url(./image/residential/07@3x.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50%;
    filter: grayscale(80%);
}

.luxuryimgtwo {
    background-image: url(./image/residential/11@3x.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50%;
    filter: grayscale(80%);
}

.luxuryimgthree {
    background-image: url(./image/residential/14854194a80f15b44cfd2bd3b6b23441@3x.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50%;
    filter: grayscale(80%);
}

.luxuryimgfour {
    background-image: url(./image/residential/14@3x.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50%;
    filter: grayscale(80%);
}

.luxuryimgfive {
    background-image: url(./image/residential/3eae9cad2c1a187fbaf5e3cba9413708@3x.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50%;
    filter: grayscale(80%);
}

.luxuryimgsix {
    background-image: url(./image/luxury/e5c16192db1eed4de4c0a7809d77caa0@3x.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50%;
    filter: grayscale(80%);
}

.page-link {
    background: none !important;
    color: white !important;
    margin-left: 5px !important;
    padding: 20px !important;
}

.page-link:hover {
    background: grey !important;
}

@media screen and (min-width: 550px) and (max-width: 990px) {
    .luxuryimgone_text {
        right: 33%;
        -webkit-transform: translateX(-33%);
        -moz-transform: translateX(-33%);
        -ms-transform: translateX(-33%);
        -o-transform: translateX(-33%);
    }
    .luxuryimgtwo_text {
        right: 33%;
        -webkit-transform: translateX(-33%);
        -moz-transform: translateX(-33%);
        -ms-transform: translateX(-33%);
        -o-transform: translateX(-33%);
    }
    .luxuryimgthree_text {
        right: 33%;
        -webkit-transform: translateX(-33%);
        -moz-transform: translateX(-33%);
        -ms-transform: translateX(-33%);
        -o-transform: translateX(-33%);
    }
    .luxuryimgfour_text {
        right: 33%;
        -webkit-transform: translateX(-33%);
        -moz-transform: translateX(-33%);
        -ms-transform: translateX(-33%);
        -o-transform: translateX(-33%);
    }
    .luxuryimgfive_text {
        right: 33%;
        -webkit-transform: translateX(-33%);
        -moz-transform: translateX(-33%);
        -ms-transform: translateX(-33%);
        -o-transform: translateX(-33%);
    }
    .luxuryimgsix_text {
        right: 40%;
        -webkit-transform: translateX(-40%);
        -moz-transform: translateX(-40%);
        -ms-transform: translateX(-40%);
        -o-transform: translateX(-40%);
    }
    .portfolioimgs h4{
        /* font-size: 1.2rem !important; */
        min-width:200px;
    }
}
@media screen and (max-width: 550px) {
    .portfolio_section03 h2{
        font-size: 1.8rem;
    }
    .portfolio_section03_title {
        height: 20vh;
        line-height: 50px;
    }
    
    .luxuryimgone_text {
        right: 28%;
        -webkit-transform: translateX(-28%);
        -moz-transform: translateX(-28%);
        -ms-transform: translateX(-28%);
        -o-transform: translateX(-28%);
    }
    .luxuryimgtwo_text {
        right: 28%;
        -webkit-transform: translateX(-28%);
        -moz-transform: translateX(-28%);
        -ms-transform: translateX(-28%);
        -o-transform: translateX(-28%);
    }
    .luxuryimgthree_text {
        right: 28%;
        -webkit-transform: translateX(-28%);
        -moz-transform: translateX(-28%);
        -ms-transform: translateX(-28%);
        -o-transform: translateX(-28%);
    }
    .luxuryimgfour_text {
        right: 28%;
        -webkit-transform: translateX(-28%);
        -moz-transform: translateX(-28%);
        -ms-transform: translateX(-28%);
        -o-transform: translateX(-28%);
    }
    .luxuryimgfive_text {
        right: 28%;
        -webkit-transform: translateX(-28%);
        -moz-transform: translateX(-28%);
        -ms-transform: translateX(-28%);
        -o-transform: translateX(-28%);
    }
    .luxuryimgsix_text {
        right: 37%;
        -webkit-transform: translateX(-37%);
        -moz-transform: translateX(-37%);
        -ms-transform: translateX(-37%);
        -o-transform: translateX(-37%);
    }
    .portfolio_section02 .portfolioimgs div {
        margin: 0 5px;
    }
    .portfolio_section02 .portfolioimgs div {
        margin: 0 5px;
        min-height:100px;
        width: auto;
        height: auto;
    }
    .portfolioimgs h4{
        font-size: 1rem !important;
        min-width:120px;
    }
}